{% extends 'decisions/base.html' %}
{% load bootstrap %}
{% load module_tags %}
{% block title %}{% block h1 %}What is AREA?
{% endblock %}{% endblock %}
{% block content %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>

    <h2 class="center">
        What is AREA?
    </h2>

    <p>AREA is an acronym for a decision-making system that uniquely controls for and counteracts bias, focuses on
        the incentives of others and expands knowledge while improving judgment.</p>

    {% get_next_btn module "Get Started!" nav.nextUrl %}
    {% get_back_link module nav.previousUrl %}
{% endblock %}
