{% extends 'decisions/base.html' %}
{% load bootstrap %}
{% load module_tags %}
{% block title %}{% block h1 %}Decision Dilemma Defined{% endblock %}{% endblock %}
{% block content %}
    <h2 class="center">Decision Dilemma Defined</h2>
    <p>The quiz helped you check in with your gut feelings about your decision. Now lets define your Decision Dilemma:</p>

    <h3>What problem do you need to solve?</h3>
    <textarea name="problem_to_solve" class="auto-text-area">{{ problem_to_solve }}</textarea>

    <h3>Reframe the decision dilemma as a question</h3>
    <textarea name="dd_as_question" class="auto-text-area">{{ dd_as_question }}</textarea>

    {% get_next_btn module "Dilemma Defined!" nav.nextUrl "submit" %}
    {% get_back_link module nav.previousUrl %}
{% endblock %}
