{% extends 'decisions/base.html' %}
{% load bootstrap module_tags static %}
{% block title %}{% block h1 %}How are you feeling?{% endblock %}{% endblock %}
{% block extra_head %}
{% endblock %}
{% block content %}
    <script type="text/javascript">
        $(document).ready(function () {

            $('#ex1').slider({
                ticks: [1, 2, 3, 4, 5],
                ticks_labels: ['Fear', 'Overwhelmed', 'Frustrated', 'Confused', 'Thumbs Up'],
            });

            // When page loads
            show_images({{ feeling_start }});

            var originalVal;

            $('#ex1').slider().on('slideStart', function(ev){
                originalVal = $('#ex1').data('slider').getValue();
            });

            $('#ex1').slider().on('slideStop', function(ev){
                var newVal = $('#ex1').data('slider').getValue();
                if(originalVal != newVal) {
                    console.log(originalVal + " has changed to " + newVal);
                    show_images(newVal);
                }
            });

            function show_images(position) {
                var images = [
                    'none',
                    '/static/decisions/img/backpocket/fear.jpg',
                    '/static/decisions/img/backpocket/overwhelmed.jpg',
                    '/static/decisions/img/backpocket/frustrated.png',
                    '/static/decisions/img/backpocket/confused.jpg',
                    '/static/decisions/img/backpocket/thumbs-up.jpg'
                ];

                var responses = [
                    "none",
                    "<h3>Fear</h3>You have some fear about making your big decision. How will you know that you are solving your problem in a way that will lead to a good outcome for you personally? AREA will help you define your Vision of Success and keep you focused on what matters to you",
                    "<h3>Overwhelmed</h3>Naming your feelings is part of getting past your biases and a rush to judgment.  So glad you found AREA! It will help you break down and frame your problem and give you clear steps to follow.",
                    "<h3>Frustrated</h3>Naming your feelings is part of getting past your biases and a rush to judgment. So glad you found AREA! It will give you specific steps to follow to solve your problem.",
                    "<h3>Confused</h3>You feel confused. AREA will help you have a process for how to break down, frame and research your big decision.",
                    "<h3>Excited</h3>You feel ready to take on this challenge!  So glad you found AREA! It will help channel your excitement so that you don’t skip steps and ensure that you confront your assumptions."
                ]

                if (position >= 1 && position <= images.length) {
                    $('#feeling_image').attr('src', images[position]);
                    $('#feeling_text').html(responses[position]);
                }
            }


        });
    </script>
    <style type="text/css">
        .main div:first-child {
            margin-top: 0px;
        }

        .slider.slider-horizontal {
            width: 450px;
        }

        #ex1Slider .slider-selection {
            background: #BABABA;
        }

        #feeling_text {
            text-align: left;
        }

    </style>
    <h2 class="center">How are you feeling?</h2>
    <p>
        Before you get started, use the slider below to let us know how you are feeling about making your big decision.
    </p>

    <div class="center">
        <div style="padding-top: 15px;"></div>

        <input id="ex1" data-slider-id='ex1Slider' type="text"
               data-slider-min="0" data-slider-max="5" data-slider-step="1" data-slider-value="{{ feeling_start }}" name="feeling_start"/>

        <div style="padding-top: 15px;"></div>

        <img name="feeling_image" id="feeling_image" alt="Results" height="300">

        <p id="feeling_text"></p>
    </div>

    <div id="nextBtnSection">
        {% get_next_btn module "Tell Me More" nav.nextUrl "submit" %}
    </div>
    {% get_back_link module nav.previousUrl %}
{% endblock %}
