{% extends 'modules/base/intro.html' %}

{% block pre_title %}
    <h1>Make Your Big Decisions</h1>
{% endblock %}

{% block module_title %}
    <div>
        <span class="green">B</span>
        <span class="yellow">E</span>
        <span class="light-blue">T</span>
        <span class="red">T</span>
        <span class="yellow">E</span>
        <span class="light-blue">R</span>
    </div>
{% endblock %}

{% block module_subtitle %}
    <p>This module will guide you through decision-making steps from the AREA Method.</p>
    <p>Complete the questionnaires and our algorithm will help you analyze your work and thinking so that you can make
        your big decisions better! </p>
{% endblock %}