{% extends 'modules/base/intro.html' %}

{% block pre_title %}
    <h1>Make Your Big Decisions</h1>
{% endblock %}

{% block module_title %}
    <div>
        <span class="green">B</span>
        <span class="yellow">E</span>
        <span class="light-blue">T</span>
        <span class="red">T</span>
        <span class="yellow">E</span>
        <span class="light-blue">R</span>
    </div>
{% endblock %}

{% block module_subtitle %}
    <p>This module will guide you through the AREA Method.</p>
    <p>Complete the steps and we will analyze your work and thinking to help you make your big decisions better!</p>
{% endblock %}