{% extends 'decisions/base.html' %}
{% load bootstrap module_tags static %}
{% block title %}{% block h1 %}Absolute Targets: Sum up
{% endblock %}{% endblock %}
{% block content %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>

    <div class="center">
        <h2 class="center">
            So what did you learn from Absolute research about your Target’s perspective?</h2>
    </div>

    <div>
        <p>Here is an analysis of your work and thinking so far:</p>

        {% if at_results == "green" %}
        <p><strong>Nice job!</strong></p>
        <p>You are doing well collecting data, it seems relevant to better understanding your Target and you
            are making progress toward solving your decision! Move on to Relative but note that you want to be careful
            about <a class="master_term" href="#" data-toggle="tooltip" data-placement="bottom"
                     title="definition">Confirmation Bias</a>,
            where we see what we expect to and might overlook disconfirming data.</p>
        {% endif %}

        {% if at_results == "blue" %}
        <p>You’ve found some data, but you’re not sure its useful or complete for better understanding your Target.</p>
        <p>Where else might you look for information? Don’t fall prey to <a class="master_term" href="#"
                                                                            data-toggle="tooltip"
                                                                            data-placement="bottom"
                                                                            title="definition">Projection Bias</a> where
            you might assume that since you didn’t find useful data that it doesn’t exist.</p>
        <p>If you choose to progress to Relative now you may well need to loop back to Absolute to find more
            details.</p>
        {% endif %}

        {% if at_results == "red" %}
        <p>Despite good effort it seems that you didn’t find what you were looking for. Two tips:</p>
        <ol>
            <li>Come at the problem from a different vantage point? For example, if you are searching for which doctoral
                program to apply to could you instead look at people in careers you aspire to and look at their graduate
                degrees and alma maters?
            </li>
            <li>Ask yourself why the data you expected might not be available? For example, if you searched a website
                for a nursing home and didn’t find pricing data, why might there not be pricing transparency?
            </li>
        </ol>
        <p>If you choose to move on to Relative without finding useful Absolute data, you might need to loop back at
            some point.</p>
        <p>Be wary of <a class="master_term" href="#" data-toggle="tooltip" data-placement="bottom"
                         title="definition">Scarcity Bias</a>, concerned that only a limited amount of information
            exists.</p>
        {% endif %}


        {% get_next_btn module "Got It" nav.nextUrl %}
    </div>
    {% get_back_link module nav.previousUrl %}
{% endblock %}
