{% extends 'modules/base/backpocket.html' %}
{% load module_tags static %}

{% block title %}
    {% define 'pageTitle' "Decision Dilemma Defined" %}
    {% define 'nextBtnLabel' "Dilemma Defined" %}
    {% define 'progressBarTemplate' 'module3/progress_bar/dd.html' %}
    {{ block.super }}
{% endblock %}

{% block modal_content %}
    <p>I've been offered a promotion that offers new responsibilities and requires relocating but I love where I live now and my support network there.</p>
    <p>Reframing the problem as a question might yield:</p>
    <ul>
        <li>Do I have the right skills for the VP of Sales Midwest promotion?</li>
        <li>Do I want to live in the new location: Milwaukee?</li>
    </ul>
{% endblock %}

{% block content_header %}
    <p>You've identified your gut feelings about your decision, which helps confront bias, now lets define your Decision Dilemma:</p>
{% endblock %}

{% block content_body %}
    <h3>What is your big decision?</h3>
    <textarea name="problem_to_solve" class="auto-text-area">{{ module.problem_to_solve }}</textarea>


    <h3>Reframe the decision dilemma as a question</h3>
    <textarea name="dd_as_question" class="auto-text-area">{{ module.dd_as_question }}</textarea>
{% endblock %}
