{% extends 'modules/base/backpocket.html' %}
{% load module_tags static %}

{% block title %}
    {% define 'pageTitle' "Decision Dilemma Defined" %}
    {% define 'nextBtnLabel' "Dilemma Defined" %}
    {% define 'progressBarTemplate' 'module3/progress_bar/d.html' %}
    {{ block.super }}
{% endblock %}

{% block modal_content %}
    <p>Robyn's been offered a promotion that offers new responsibilities and requires relocating.</p>
    <p>Reframing the problem as a question might yield:</p>
    <ul>
        <li>Do I have the right skills for the promotion?</li>
        <li>Do I want to live in the new location?</li>
    </ul>
{% endblock %}

{% block content_header %}
    <p>The quiz helped you check in with your gut feelings about your decision. Now lets define your Decision
        Dilemma:</p>
{% endblock %}

{% block content_body %}
    <h3>What problem do you need to solve?</h3>
    <textarea name="problem_to_solve" class="auto-text-area">{{ module.problem_to_solve }}</textarea>

    <h3>Reframe the decision dilemma as a question</h3>
    <textarea name="dd_as_question" class="auto-text-area">{{ module.dd_as_question }}</textarea>
{% endblock %}
