{% extends 'decisions/base.html' %}
{% load bootstrap module_tags static %}
{% block title %}{% block h1 %}Decision Dilemma Feedback
{% endblock %}{% endblock %}
{% block content %}
    <div class="center">
        <h2 class="center">
            How High Stakes Is Your Decision?
        </h2>

        <ul>
        {% for dd_parameter in ddd_parameters %}
            <li>{{ dd_parameter.question }}</li>
        {% endfor %}
        </ul>

        {% get_next_btn module "Ready to Write My Problem Statement!" nav.nextUrl %}
    </div>
    {% get_back_link module nav.previousUrl %}
{% endblock %}
