{% extends 'decisions/base.html' %}
{% load bootstrap module_tags static %}
{% block title %}{% block h1 %}Decision Dilemma Feedback
{% endblock %}{% endblock %}
{% block content %}
    <div class="center">
        <h2 class="center">
            How High Stakes Is Your Decision?
        </h2>

        <p>
        {% if total >= 8 and total <= 11 %}
            Not urgent, not long term, not unknown- are you making a series of assumptions about the impact your decision will have on you?
        {% endif %}
        {% if total >= 12 and total <= 16 %}
            Somewhat urgent, somewhat confusing, somewhat harmful: Exploring your problem in greater detail and the ramifications of the outcome will give you a  greater sense of confidence and conviction that you’ve made the right choice
        {% endif %}
        {% if total >= 17 and total <= 20 %}
            You are concerned about how to move forward with your problem solving and how your decision will impact you. Framing your problem around what matters most to you and then engaging with the research process will help you better evaluate your options and come to conviction.
        {% endif %}
        {% if total >= 21 and total <= 24 %}
            Urgent, long-term, unknown outcome that could be harmful if you get it wrong-You are facing a high-stakes decision. Your Vision of Success and Critical Concepts will focus your work on what really matters to you in the outcome.
        {% endif %}
        </p>

        {% get_next_btn module "Ready to Write My Problem Statement!" nav.nextUrl %}
    </div>
    {% get_back_link module nav.previousUrl %}
{% endblock %}
