{% extends 'modules/cheetah/intro.html' %}
{% load module_tags static %}
{% block progress_bar %}
    {% define 'progressBarTemplate' 'module3/progress_bar/a1.html' %}
    {{ block.super }}
{% endblock %}
{% block cheetah_content %}
    <p>On the next page you’ll find a Cheetah Sheet.</p>

    <p>Why the Cheetah? Cheetahs are agile and flexible hunters. Their speed is not as important as their ability to
        quickly slow down which makes their hunt agile and flexible, just like a good decision making process should be.
    </p>
{% endblock %}
