{% extends 'modules/cheetah/backpocket.html' %}
{% load module_tags static %}

{% block content %}
    {% define 'checkboxName' 'at' %}
    {% define 'nextBtnLabel' 'Targets Tagged' %}
    {{ block.super }}
{% endblock %}
{% block progress_bar %}
    {% define 'progressBarTemplate' 'module3/progress_bar/a1.html' %}
    {{ block.super }}
{% endblock %}

{% block modal_content %}
    <p>Robyn's Targets:</p>
    <ul>
        <li>The job position: Midwest Sales VP</li>
        <li>The location: Milwaukee</li>
    </ul>
{% endblock %}

{% block content_body %}
    <p><strong>Decision problem:</strong><br />
        <span style="border-bottom: 1px solid black;">{{ module.dd_as_question }}</span></p>

    <table class="table">
    <thead>
        <th>Vision of Success</th>
        <th>Critical Concepts</th>
    </thead>
    <tbody>
        <tr>
            <td style="border-bottom: 1px solid black;">{{ vs.0 }}.</td>
            <td style="border-bottom: 1px solid black;">{{ cc.0 }}</td>
        </tr>
        <tr>
            <td style="border-bottom: 1px solid black;">{{ vs.1 }}.</td>
            <td style="border-bottom: 1px solid black;">{{ cc.1 }}</td>
        </tr>
        <tr>
            <td style="border-bottom: 1px solid black;">{{ vs.2 }}.</td>
            <td style="border-bottom: 1px solid black;">{{ cc.2 }}</td>
        </tr>
    </tbody>
    </table>

    <p>You've done the spadework. Let’s take action. Identify your {% get_master_term "Absolute Targets" %}.</p>
    {% include 'module3/cheetah1/form.html' %}
{% endblock %}
