{% extends 'modules/cheetah/sheet.html' %}
{% block cheetah_content %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>

    <style type="text/css">
        #why_options div {
            margin-bottom: 10px;
        }

        label {
            font-size: large;
            border: 1px solid #dddddd;
            width: 100%;
            padding: 5px;
        }

        :checked + span {
            font-weight: bold;
        }
    </style>

    <p><strong>Decision problem:</strong> This is my problem from page 6</p>
    <br />
    <strong>Vision of Success</strong>
    <ul>
        <li>VOS 1</li>
        <li>VOS 2</li>
        <li>VOS 3</li>
    </ul>
    <strong>Critical Concepts</strong>
    <ul>
        <li>CC 1</li>
        <li>CC 2</li>
        <li>CC 3</li>
    </ul>

    <p>You've done the spadework. Let’s take action. Identify your Absolute Targets.</p>

    <p><a class="master_term" href="#" data-toggle="tooltip" data-placement="bottom"
          title="Absolute Targets are the entities at the center of your decision.">Absolute
        Targets</a> are the entities at the center of your decision. If choosing a college to attend, the Absolute
        Targets would the colleges you are considering.</p>

    {% include 'module3/cheetah1/form.html' %}

    <div class="space"></div>

    <div class="center">
        <button id="completeBtn" value="Complete Cheetah Sheet">Targets Tagged</button>
    </div>
{% endblock %}