<h3>What about the mapping exercise was <strong><u>MOST useful</u></strong> to putting your Target into its broader ecosystem?</h3>
{% if mode == 'print' %}
    <p>{{ at4_most }}</p>
{% else %}
    <textarea name="at4_most" class="auto-text-area">{{ at4_most }}</textarea>
{% endif %}

<h3>What about the mapping exercise was <strong><u>LEAST useful</u></strong> to understanding how your Target fits into its broader ecosystem?</h3>
{% if mode == 'print' %}
    <p>{{ at4_least }}</p>
{% else %}
    <textarea name="at4_least" class="auto-text-area">{{ at4_least }}</textarea>
{% endif %}
