<h3>Based on researching your Target's ecosystem check all that apply:</h3>
{% if mode == 'print' %}
    <ul>
        {% for item in at_numbers %}
            {% if item.key in at4 %}
                <li><span style="border-bottom: 1px solid black;">{{ item.label }}</li>
            {% endif %}
        {% endfor %}
    </ul>
{% else %}
    <div id="why_options">
        {% for item in at_numbers %}
            <div>
                <label>
                    {% if item.key in at4 %}
                    <input type="checkbox" name="at4[]" value="{{ item.key }}" checked="checked"/>
                    <span>{{ item.label }}</span>
                    <span class="explanation" style="display: block; visibility: visible;">{{ item.answer }}</span>
                    {% else %}
                    <input type="checkbox" name="at4[]" value="{{ item.key }}"/>
                    <span>{{ item.label }}</span>
                    <span class="explanation">{{ item.answer }}</span>
                    {% endif %}
                </label>
            </div>
        {% endfor %}
    </div>
{% endif %}