{% extends 'modules/cheetah/backpocket.html' %}
{% load module_tags static %}

{% block title %}
    {% define 'pageTitle' "Relative: Map vs Terrain" %}
    {{ block.super }}
{% endblock %}
{% block content %}
    {% define 'checkboxName' 'great_questions' %}
    {% define 'nextBtnLabel' 'Start the Pause Now' %}
    {% define 'showTimer' 'true' %}
    {{ block.super }}
{% endblock %}
{% block progress_bar %}
    {% define 'progressBarTemplate' 'module3/progress_bar/r.html' %}
    {{ block.super }}
{% endblock %}

{% block modal_content %}
    <p>Robyn's industry research:</p>
    <ul>
        <li>Comparing current job with new job responsibilities</li>
        <li>Comparing current travel to new travel demands</li>
        <li>Comparing costs in Milwaukee to Boston</li>
        <li>Comparing opportunities for single professionals</li>
    </ul>
{% endblock %}

{% block extra_modal_instructions %}
    <p>You'll want to see your target in context for our next page.</p>
{% endblock %}

{% block content_body %}
    <p>You’ve examined your Target itself. Now put your Target into its broader ecosystem. How does your Target stack up against its competition? And does that change how you see and understand your Target.</p>
    <p>Pause the module here. Search for information about your Target’s industry or competitors.</p>

    <div style="text-align: center;">
        <img src="{% static 'decisions/img/backpocket/mountain_terrain.gif' %}" height="250px"/>
    </div>
{% endblock %}