{% extends 'modules/cheetah/backpocket.html' %}
{% load module_tags static %}

{% block content %}
    {% define 'checkboxName' 'at4' %}
    {% define 'nextBtnLabel' 'Terrain Mapped!' %}
    {{ block.super }}
{% endblock %}
{% block progress_bar %}
    {% define 'progressBarTemplate' 'module3/progress_bar/r.html' %}
    {{ block.super }}
{% endblock %}

{% block modal_content %}
    <p>Robyn's answers</p>
    <ol>
        <li>Yes (Higher salary)</li>
        <li>Yes (Lower cost of living)</li>
        <li>Yes (More travel, less workplace diversity, more laid back culture)</li>
        <li>No (The information was focused on tourism versus business development)</li>
    </ol>
{% endblock %}

{% block content_body %}
    {% include 'module3/cheetah4/form.html' %}
{% endblock %}