{% extends 'modules/cheetah/backpocket.html' %}
{% load module_tags static %}

{% block title %}
    {% define 'pageTitle' "Relative: Internet Search" %}
    {{ block.super }}
{% endblock %}
{% block content %}
    {% define 'checkboxName' 'at4' %}
    {% define 'nextBtnLabel' 'Terrain Mapped!' %}
    {{ block.super }}
{% endblock %}
{% block progress_bar %}
    {% define 'progressBarTemplate' 'module3/progress_bar/r.html' %}
    {{ block.super }}
{% endblock %}

{% block modal_content %}
    <p>Robyn's answers</p>
    <ol>
        <li>Yes (Higher salary)</li>
        <li>Yes (Lower cost of living)</li>
        <li>Yes (More travel, less workplace diversity, more laid back culture)</li>
        <li>No (The information was focused on tourism versus business development)</li>
    </ol>
{% endblock %}

{% block content_body %}
    {% if results == "yes" %}
        <p>Nice Job!</p>
        <p>You understand your target's ecosystem.</p>
        <p>Your challenge: Develop a few questions that you can answer in our next step: A news search.</p>
    {% endif %}
    {% if results == "no" %}
        <p>If your Target’s value isn't clear, why might that be?</p>
        <p>Your challenge: Formulate a few hypotheses as to why the value isn’t clear. Might you need more data or analysis?</p>
    {% endif %}
    {% if results == "mixed" %}
        <p>You've identified some of the reasons your Target is unique, but some elude you.</p>
        <p>Your challenge: What other data would be useful to gain clarity? Develop a few questions that can direct your work and thinking.</p>
    {% endif %}

    {% include 'module3/cheetah4/form2.html' %}
{% endblock %}