{% extends 'decisions/base.html' %}
{% load bootstrap %}
{% load module_tags %}
{% block title %}{% block h1 %}Relative Map vs Terrain{% endblock %}{% endblock %}
{% block content %}
    <h2 class="center">Relative Map vs Terrain</h2>

    <h3>What about the mapping exercise was MOST useful to putting your Target into its broader ecosystem?</h3>
    <textarea name="pro_con_most" class="auto-text-area">{{ pro_con_most }}</textarea>

    <h3>What about the mapping exercise was LEAST useful to understanding how your Target fits into its broader ecosystem?</h3>
    <textarea name="pro_con_least" class="auto-text-area">{{ pro_con_least }}</textarea>

    {% get_next_btn module "Dilemma Defined!" nav.nextUrl "submit" %}
    {% get_back_link module nav.previousUrl %}
{% endblock %}
