<h3>What numbers give you data about your Absolute Target? Check all that apply:</h3>

{% if mode == 'print' %}
    <ul>
        {% for item in at_numbers %}
            {% if item.key in at2 %}
                <li><span style="border-bottom: 1px solid black;">{{ item.label }}</li>
            {% endif %}
        {% endfor %}
    </ul>
{% else %}
    <div id="why_options">
        {% for item in at_numbers %}
            <div>
                <label>
                    {% if item.key in at2 %}
                    <input type="checkbox" name="at2[]" value="{{ item.key }}" checked="checked"/>
                    <span>{{ item.label }}</span>
                    <span class="explanation" style="display: block; visibility: visible;">{{ item.answer }}</span>
                    {% else %}
                    <input type="checkbox" name="at2[]" value="{{ item.key }}"/>
                    <span>{{ item.label }}</span>
                    <span class="explanation">{{ item.answer }}</span>
                    {% endif %}
                </label>
            </div>
        {% endfor %}
    </div>
{% endif %}

<h3>What numerical data was <strong><u>MOST useful</u></strong>?</h3>
<textarea name="at2_most" class="auto-text-area">{{ at2_most }}</textarea>