{% extends 'modules/cheetah/sheet.html' %}
{% block cheetah_content %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();

            {# check any previous selections #}
            {% for chosen in at2 %}
                $(":checkbox[value='{{ chosen }}']").prop('checked', true);
            {% endfor %}
        });
    </script>

    <style type="text/css">
        #why_options div {
            margin-bottom: 10px;
        }

        label {
            font-size: large;
            border: 1px solid #dddddd;
            width: 100%;
            padding: 5px;
        }

        :checked + span {
            font-weight: bold;
        }
    </style>

    <p>All high-stakes decisions have numbers involved. Focusing on numbers has two benefits:</p>
    <ol>
    <li>It enables you to see your Target as objectively and uninfluenced as possible.</li>
    <li>It also allows the Target to present data on what it considers to be its main issues.</li>
    </ol>
    <p>Pause the module here. Go to the Internet and search your Target’s website(s). Focus on finding relevant numerical data to your decision problem</p>

    <p><strong>Need some tips?</strong></p>
    <p> If you're deciding about buying a home or leasing more workspace, numerical data from the location's website would provide pricing information on the homes/spaces in your target location and property taxes</p>
    {% include 'module3/cheetah2/form.html' %}

    <div class="space"></div>

    <div class="center">
        <button id="completeBtn" value="Complete Cheetah Sheet">Numbers Named</button>
    </div>
{% endblock %}