{% extends 'modules/cheetah/backpocket.html' %}
{% load module_tags static %}

{% block content %}
    {% define 'checkboxName' 'at2' %}
    {% define 'nextBtnLabel' 'Start the Pause Now' %}
    {% define 'showTimer' 'true' %}
    {{ block.super }}
{% endblock %}
{% block progress_bar %}
    {% define 'progressBarTemplate' 'module3/progress_bar/a1.html' %}
    {{ block.super }}
{% endblock %}

{% block modal_content %}
    <p>Robyn's Numbers:</p>
    <ul>
        <li>Number of VPs</li>
        <li>Tenure length of last 2 Midwest VPs</li>
        <li>Number of days travelling</li>
        <li>Salary</li>
        <li>Cost of living in Milwaukee</li>
    </ul>
{% endblock %}

{% block extra_modal_instructions %}
    <p>You'll want your numbers for our next page.</p>
{% endblock %}

{% block content_body %}
    <p>All high-stakes decisions have numbers involved. Focusing on numbers has two benefits:</p>
    <ol>
        <li>It enables you to see your Target as objectively and uninfluenced as possible.</li>
        <li>It also allows the Target to present data on what it considers to be its main issues.</li>
    </ol>
    <p>Time to do your first research! Pause the module here.</p>
        <p>Go to the Internet and search your Target’s website(s) for numbers relevant to your decision. Take as much time as you need to find useful data.</p>

    <div style="text-align: center;">
        <img src="{% static 'decisions/img/backpocket/research.gif' %}" height="250px"/>
    </div>
{% endblock %}
