{% extends 'modules/cheetah/backpocket.html' %}
{% load module_tags static %}

{% block content %}
    {% define 'checkboxName' 'at2' %}
    {% define 'nextBtnLabel' 'Numbers Named!' %}
    {{ block.super }}
{% endblock %}
{% block progress_bar %}
    {% define 'progressBarTemplate' 'module3/progress_bar/a1.html' %}
    {{ block.super }}
{% endblock %}

{% block modal_content %}
    <p>Robyn's Decision Problem</p>
    <ul>
        <li>Do I have the right skills for the VP of Sales Midwest promotion?</li>
        <li>Do I want to live in the new location: Milwaukee?</li>
    </ul>
    <p>Robyn chose all but (2) because she found relevant data.<br /></p>
    <p>The data revealed:</p>
    <ul>
        <li><strong><u>Useful: Did Not Make Sense:</u></strong> The VP Midwest position has had high turnover (3 VPs in 10 years: Why?).</li>
        <li><strong><u>Useful: Did not make sense:</u></strong> The position historically required lots of travel (about one week per month: That’s a lot!)</li>
        <li><strong><u>Useful:</u></strong> Milwaukee provides good bang for the buck (reasonably priced city)</li>
    </ul>
    <p>All 3 pieces of numerical data combine to <strong><u>Tell a story:</u></strong> Milwaukee is a city with a reasonable cost of living but the job has high turnover and lots of travel.</p>
    <p><strong><u>Most useful</u></strong> data: Number of travel days, raising the question: Are the number of travel days necessary to succeed?</p>
{% endblock %}

{% block content_body %}
    {% include 'module3/cheetah2/form.html' %}
{% endblock %}