{% load module_tags %}
<p>Write one answer to each question:</p>

<h3>What kinds of answers do I need? These should be targeted on your Critical Concepts.</h3>
{% if mode == 'print' %}
    <p>{{ module.gq_1 }}</p>
{% else %}
    <textarea name="gq_1" class="auto-text-area">{{ module.gq_1 }}</textarea>
{% endif %}

<h3>What do I want to find out and why?</h3>
{% if mode == 'print' %}
    <p>{{ module.gq_2 }}</p>
{% else %}
    <textarea name="gq_2" class="auto-text-area">{{ module.gq_2 }}</textarea>
{% endif %}


<h3>What difference would that information make?</h3>
{% if mode == 'print' %}
    <p>{{ module.gq_3 }}</p>
{% else %}
    <textarea name="gq_3" class="auto-text-area">{{ module.gq_3 }}</textarea>
{% endif %}

<p>To craft {% get_master_term "Great Questions" %} consider that there are four types of questions.</p>
<h3>To get the answers you've identified that you need, check all that apply below that will best help you get those answers?</h3>

{% if mode == 'print' %}
    <ul>
        {% for item in great_questions_list %}
            {% if item.key in great_questions %}
                <li><span style="border-bottom: 1px solid black;">{{ item.label }}</li>
            {% endif %}
        {% endfor %}
    </ul>
{% else %}
    <div id="why_options">
        {% for item in great_questions_list %}
            <div>
                <label>
                    {% if item.key in great_questions %}
                    <input type="checkbox" name="great_questions[]" value="{{ item.key }}" checked="checked"/>
                    <span>{{ item.label }}</span>
                    <span class="explanation" style="display: block; visibility: visible;">{{ item.answer }}</span>
                    {% else %}
                    <input type="checkbox" name="great_questions[]" value="{{ item.key }}"/>
                    <span>{{ item.label }}</span>
                    <span class="explanation">{{ item.answer }}</span>
                    {% endif %}
                </label>
            </div>
        {% endfor %}
    </div>
{% endif %}