<h3>1. Make a list of all hypotheses about your decision</h3>
<table class="table">
    <tbody>
    <tr>
        <td width="5">1.</td>
        <td><textarea name="cah1[]" class="auto-text-area">{{ cah1.0 }}</textarea></td>
    </tr>
    <tr>
        <td width="5">2.</td>
        <td><textarea name="cah1[]" class="auto-text-area">{{ cah1.1 }}</textarea></td>
    </tr>
    <tr>
        <td width="5">3.</td>
        <td><textarea name="cah1[]" class="auto-text-area">{{ cah1.2 }}</textarea></td>
    </tr>
    </tbody>
</table>

<h3>2. Make a list of your key points or evidence/data</h3>
<table class="table">
    <tbody>
    <tr>
        <td width="5">1.</td>
        <td><textarea name="cah2[]" class="auto-text-area">{{ cah2.3 }}</textarea></td>
    </tr>
    <tr>
        <td width="5">2.</td>
        <td><textarea name="cah2[]" class="auto-text-area">{{ cah2.4 }}</textarea></td>
    </tr>
    <tr>
        <td width="5">3.</td>
        <td><textarea name="cah2[]" class="auto-text-area">{{ cah2.5 }}</textarea></td>
    </tr>
    </tbody>
</table>

<h3>3. Examine your hypotheses against each key data point.</h3>
(JM populate answers from page 16 and page 17)

<h3>4. How sensitive are your conclusions to a few pieces of data?</h3>
<textarea name="cah3[]" class="auto-text-area">{{ cah3.0 }}</textarea>

<h3>5. Report your conclusions</h3>
<table class="table">
    <tbody>
    <tr>
        <td width="5">1.</td>
        <td><textarea name="cah4[]" class="auto-text-area">{{ cah4.0 }}</textarea></td>
    </tr>
    <tr>
        <td width="5">2.</td>
        <td><textarea name="cah4[]" class="auto-text-area">{{ cah4.1 }}</textarea></td>
    </tr>
    <tr>
        <td width="5">3.</td>
        <td><textarea name="cah4[]" class="auto-text-area">{{ cah4.2 }}</textarea></td>
    </tr>
    </tbody>
</table>

<h3>6. Do you need to go back and get more data or conduct more analysis to clarify anything?</h3>
<input type="radio" name="cah5[]" value="yes" />Yes
<input type="radio" name="cah5[]" value="no" />No
