<h3>After asking your Great Questions to your Good Prospects, check all that apply.</h3>
{% if mode == 'print' %}
    <ul>
        {% for item in iq_list %}
            {% if item.key in iq %}
                <li><span style="border-bottom: 1px solid black;">{{ item.label }}</li>
            {% endif %}
        {% endfor %}
    </ul>
{% else %}
    <div id="why_options">
        {% for item in iq_list %}
            <div>
                <label>
                    {% if item.key in iq %}
                    <input type="checkbox" name="iq[]" value="{{ item.key }}" checked="checked"/>
                    <span>{{ item.label }}</span>
                    <span class="explanation" style="display: block; visibility: visible;">{{ item.answer }}</span>
                    {% else %}
                    <input type="checkbox" name="iq[]" value="{{ item.key }}"/>
                    <span>{{ item.label }}</span>
                    <span class="explanation">{{ item.answer }}</span>
                    {% endif %}
                </label>
            </div>
        {% endfor %}
    </div>
{% endif %}