<p>Based on researching your Target’s ecosystem check all that apply:</p>
{% if mode == 'print' %}
    <ul>
        {% for item in at_numbers %}
            {% if item.key in at5 %}
                <li><span style="border-bottom: 1px solid black;">{{ item.label }}</li>
            {% endif %}
        {% endfor %}
    </ul>
{% else %}
    <div id="why_options">
        {% for item in at_numbers %}
            <div>
                <label>
                    {% if item.key in at5 %}
                    <input type="checkbox" name="at5[]" value="{{ item.key }}" checked="checked"/>
                    <span>{{ item.label }}</span>
                    <span class="explanation" style="display: block; visibility: visible;">{{ item.answer }}</span>
                    {% else %}
                    <input type="checkbox" name="at5[]" value="{{ item.key }}"/>
                    <span>{{ item.label }}</span>
                    <span class="explanation">{{ item.answer }}</span>
                    {% endif %}
                </label>
            </div>
        {% endfor %}
    </div>
{% endif %}

<h3>What kinds of answers do I need? These should be targeted on your Critical Concepts.</h3>
{% if mode == 'print' %}
    <p>{{ at5_most }}</p>
{% else %}
    <textarea name="at5_most" class="auto-text-area">{{ at5_most }}</textarea>
{% endif %}

<h3>What do I want to find out and why?</h3>
{% if mode == 'print' %}
    <p>{{ at5_most }}</p>
{% else %}
    <textarea name="at5_most" class="auto-text-area">{{ at5_most }}</textarea>
{% endif %}


<h3>What difference would that information make?</h3>
{% if mode == 'print' %}
    <p>{{ at5_least }}</p>
{% else %}
    <textarea name="at5_least" class="auto-text-area">{{ at5_least }}</textarea>
{% endif %}


{#To craft Great Questions consider that there are four types of questions. To get the answers you’ve identified that you need, check all that apply below that will best help you get those answers?#}
{##}
{#Behavior Questions: What someone does or has done.#}
{#Opinion Questions: What someone thinks about a topic, action or event.#}
{#Feeling Questions: How someone respond emotionally?#}
{#Knowledge Question: To find out factual information the respondent has.#}