{% extends 'modules/cheetah/backpocket.html' %}
{% load static module_tags %}

{% block content %}
    {% define 'checkboxName' 'great_questions' %}
    {% define 'nextBtnLabel' 'Getting Answers!' %}
    {% define 'showTimer' 'true' %}
    {{ block.super }}
{% endblock %}
{% block progress_bar %}
    {% define 'progressBarTemplate' 'module3/progress_bar/e.html' %}
    {{ block.super }}
{% endblock %}

{% block modal_content %}
    <p>Robyn’s Great Questions:</p>
    <p>What qualities have been successful in this job in the past?</p>
    <ol>
        <li>Insider: Current acting VP of Midwest Sales</li>
        <li>Insider: Former Milwaukee sales office employee</li>
        <li>Customer: Key customer in the area</li>
        <li>Family: Mom and dad</li>
    </ol>
{% endblock %}

{% block extra_modal %}
    <div class="modal" id="more_time">
        <div class="modal-content">
            <p>You'll want your numbers for our next page.</p>
            <p>Clicking "I need more time" will take you back to the previous page to give you more time to conduct your research.</p>
            <p class="center">
                <button class="closeBtn">I Need More Time</button>
                <button id="completeBtn">Ready to Go!</button>
            </p>
        </div>
    </div>
{% endblock %}

{% block content_body %}
    <p>Identify three people from the below source list and ask them questions that you craft from your answers in the previous section.</p>

    {% include 'module3/cheetah6/form2.html' %}

    <p>Pause the module one last time here. Conduct a few interviews from the source categories you selected above and ask them your Great Questions.</p>

    <div style="text-align: center;">
        <img src="{% static 'decisions/img/backpocket/people-talking.gif' %}" height="250px"/>
    </div>
{% endblock %}