{% extends 'modules/cheetah/sheet.html' %}
{% load static module_tags %}
{% block cheetah_content %}
    <style type="text/css">
        /* The Modal (background) */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 100px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0, 0, 0); /* Fallback color */
            background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
        }

        .modal-content {
            background-color: #eee;
            margin: auto;
            padding: 20px;
            /* border: 1px solid #888888; */
            width: 70%;
        }

        #why_options div {
            margin-bottom: 10px;
        }

        label {
            font-size: large;
            border: 1px solid #dddddd;
            width: 100%;
            padding: 5px;
        }

        :checked + span {
            font-weight: bold;
        }

        .explanation {
            display: none;
            font-size: 0.8em;
            padding-top: 5px;
            visibility: hidden;
        }
    </style>

    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
            $('#next').click(validate);
            $("input:checkbox[name='{{ checkboxName }}[]']").click(showExplanation);

            function validate() {
                var valid = true;
                return valid;
            }

            /* Validate the form and submit */
            $('#completeBtn').click(function () {
                var results = validate();
                if (results) {
                    $('form').submit();
                }
                return results;
            });

            $('#showExampleBtn').click(function () {
                /* Show modal */
                // console.log("example button clicked");
                $('#show_example').css('display', 'block');
                return false;
            });

            $('.closeBtn').click(function () {
                /* Hide modal */
                $('.modal').css('display', 'none');
                return false;
            });

            /* Force the redirect back to the previous page */
            $('#back').click(function () {
                window.location.href = $(this).attr('href');
            });
        });

        function countdown() {
            var ctr = 3;
            var initialCtr = ctr;

            // Always reset the counter to the beginning
            $('#time').text(initialCtr);
            $('#timer').show();

            var downloadTimer = setInterval(function () {
                ctr--;
                // console.log("text: " + $("#time").text() + ", " + ctr);
                $('#time').text(ctr);
                if (ctr <= 0) {
                    clearInterval(downloadTimer);
                    // window.location.href = '{{ nav.nextUrl }}';

                    /* If the more time modal exists, show that after the timer */
                    if ($('#more_time')[0]) {
                        $('#more_time').css('display', 'block');
                    }

                    $('#timer').hide();
                    return false;
                }
            }, 1000);
            return false;
        }

        function showExplanation() {
            var checked = $(this).prop('checked');
            var explanation = $(this).next().next();
            var current = explanation.css('display');
            if (current == 'none') {
                explanation.css('display', 'block').css('visibility', 'visible');
            } else {
                explanation.css('display', 'none').css('visibility', 'hidden');
            }
        }
{##}
{#        function validate() {#}
{#            var correctTotal = 3;#}
{#            var correct = 0;#}
{#            var incorrect = 0;#}
{#            var error_msg = "";#}
{##}
{#            $("input:checkbox[name='{{ checkboxName }}[]']").each(function() {#}
{#                if ($(this).prop('checked')) {#}
{#                    if ($(this).val() == 1) {#}
{#                        correct++;#}
{#                    } else {#}
{#                        incorrect++;#}
{#                        console.log($(this));#}
{#                    }#}
{#                }#}
{#            });#}
{##}
{#            return true;#}
{#        }#}
    </script>

    {% block extra_css %}{% endblock %}
    {% block extra_js %}{% endblock %}

    <div class="modal" id="show_example">
        <div class="modal-content">
            <img src="{% static 'decisions/img/backpocket/robyn.png' %}" style="float: left; margin-right: 15px;" width="60"/>
            <h2>{% block modal_title %}Example{% endblock %}</h2>
            <div style="display: block; padding-left: 75px;">
                {% block modal_content %}{% endblock %}
            </div>
            <div style="padding-top: 10px;"></div>
            <p class="center">
                <button class="closeBtn">Click to Close</button>
            </p>
        </div>
    </div>

    {% block extra_modal %}
    <div class="modal" id="more_time">
        <div class="modal-content">
            {% block extra_modal_instructions %}{% endblock %}
            <p>Clicking "I need more time" will take you back to the previous page to give you more time to conduct your research.</p>
            <p class="center">
                <button class="closeBtn">I Need More Time</button>
                <button id="completeBtn">Ready to Go!</button>
            </p>
        </div>
    </div>
    {% endblock %}

    {% block content_header %}{% endblock %}

    <div style="min-height: 250px;">
        <div style="float: right; padding-top: 50px;">
            <img id="showExampleBtn" src="{% static 'decisions/img/backpocket/thought_bubble_example.png' %}" height="100px"/>
        </div>
        <div style="float: left; padding-top: 10px; padding-right: 0px; width: 77%;">
            {% block content_body %}{% endblock %}
        </div>
    </div>

    <div class="space"></div>

    {% block next_btn_footer %}
        {% if showTimer == "true" %}
        <div class="center start">
            <button id="next" type="button"><a href="#" onclick="return countdown()">Start the Pause Now!</a></button>
        </div>
        {% else %}
        <div class="center">
            <button id="completeBtn" value="Complete Cheetah Sheet">{{ nextBtnLabel }}</button>
        </div>
        {% endif %}
    {% endblock %}

    <div style="display: none; background: rgba(54, 25, 25, .8); height: 100%; width: 100%; position: fixed; top: 0; left: 0; float: right; z-index: 99; text-align: center; padding-top: 20%"
         id="timer">
        <div style="font-size: 256px; color: #f6653c" id="time">3</div>
    </div>

{% endblock %}