{% extends 'modules/base/backpocket.html' %}
{% load module_tags static %}

{% block title %}
    {% define 'pageTitle' "Finding Options" %}
    {% define 'nextBtnLabel' "I'm Ready" %}
    {% define 'progressBarTemplate' 'module3/progress_bar/id.html' %}
    {{ block.super }}
{% endblock %}


{% block modal_content %}
    <p>Robyns Answer to Question 1: Using her  Decision Dilemma: and Critical Concepts:</p>
    <ul>
        <li>What skills are necessary?</li>
        <li>Do I feel knowledgeable about the new location?</li>
        <li>Once I understand the job and location, how do I feel?</li>
    </ul>

    <p>As a guide, Robyn came up with three options:</p>
    <ul>
        <li>Take the VP of Sales Midwest promotion and move to Milwaukee, Wisconsin.</li>
        <li>Don't take the promotion and don't move.</li>
    </ul>

    <p>Robyn pushed herself to think what might make the promotion more attractive to her personally and came up with Option 3: Could she take the new job but NOT move to Milwaukee?</p>

    <p>She wondered: Might that be possible? How could I find out?</p>
{% endblock %}

{% block content_body %}
    <p>Your decision dilemma</p>
    <p style="border-bottom: 1px solid black;"><strong>{{ module.dd_as_question }}</strong></p>

    <p>Write Options</p>
    <table class="table">
        <tbody>
        <tr>
            <td width="5">1.</td>
            <td><textarea name="my_options[]" class="auto-text-area">{{ my_options.0 }}</textarea></td>
        </tr>
        <tr>
            <td width="5">2.</td>
            <td><textarea name="my_options[]" class="auto-text-area">{{ my_options.1 }}</textarea></td>
        </tr>
        <tr>
            <td width="5">3.</td>
            <td><textarea name="my_options[]" class="auto-text-area">{{ my_options.2 }}</textarea></td>
        </tr>
        </tbody>
    </table>
{% endblock %}
