{% extends 'modules/cheetah/backpocket.html' %}
{% load module_tags static %}

{% block content %}
    {% define 'checkboxName' 'great_questions' %}
    {% define 'nextBtnLabel' 'Start the Pause Now' %}
    {% define 'showTimer' 'true' %}
    {{ block.super }}
{% endblock %}
{% block progress_bar %}
    {% define 'progressBarTemplate' 'module3/progress_bar/r.html' %}
    {{ block.super }}
{% endblock %}

{% block modal_content %}
    <p>Robyn’s Research:</p>
    <ul>
        <li>Articles about an increasingly younger population living in Milwaukee.</li>
        <li>Articles about redeveloped and revitalized downtown with more housing.</li>
        <li>Articles reporting about how local news perceives Robyn’s company.</li>
        <li>Articles related to Milwaukee travel:  local economy contracting, number and frequency of flights are being cut from Milwaukee airport.</li>
    </ul>

    <p>Robyn’s answers:</p>
    <ul>
        <li>3. A lot more questions: She likes the news about a younger population and revitalized  downtown. She worries about news of a slowing economy and the prospect of a lot of travel from a place without substantial direct flights.</li>
        <li>5. Robyn found some good sources: Local employees, the Milwaukee TimeOut contact for social life and she identified a local travel agent to better understand travel issues.</li>
    </ul>
{% endblock %}

{% block extra_modal_instructions %}
    <p>You'll want to learn from other perspectives about your Decision Target for our next page.</p>
{% endblock %}

{% block content_body %}
    <p>Now you’ve examined your Decision Target and its competition/ecosystem. Next up: A broad Internet search.</p>
    <p>TIP: As you gather broader information, take note of people who could shed light on your Decision Problem. In AREA Exploration you’ll to explore their perspectives.</p>
    <p>Pause the module here. Search for news and information about your Decision Target to learn from other perspectives.</p>

    <div style="text-align: center;">
        <img src="{% static 'decisions/img/backpocket/panda-research.gif' %}" height="250px"/>
    </div>
{% endblock %}