{% extends 'modules/base/backpocket.html' %}
{% load module_tags static %}

{% block title %}
    {% define 'pageTitle' "Relative: Internet Search" %}
    {% define 'nextBtnLabel' "Start the Pause Now" %}
    {% define 'progressBarTemplate' 'module3/progress_bar/r.html' %}
    {{ block.super }}
{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
         $(document).ready(function () {
             $('#completeBtn').click(function () {
                 $('form').submit();
                 return true;
             });
         });

        function countdown() {
            var ctr = 3;
            var initialCtr = ctr;

            // Always reset the counter to the beginning
            $('#time').text(initialCtr);
            $('#timer').show();

            var downloadTimer = setInterval(function () {
                ctr--;
                // console.log("text: " + $("#time").text() + ", " + ctr);
                $('#time').text(ctr);
                if (ctr <= 0) {
                    clearInterval(downloadTimer);
                    // window.location.href = '{{ nav.nextUrl }}';

                    /* If the more time modal exists, show that after the timer */
                    if ($('#more_time')[0]) {
                        $('#more_time').css('display', 'block');
                    }

                    $('#timer').hide();
                    return false;
                }
            }, 1000);
            return false;
        }
    </script>
{% endblock %}

{% block extra_modal %}
    <div class="modal" id="more_time">
        <div class="modal-content">
            <p>You'll want to see your target in context for our next page.</p>
            <p>Clicking "I need more time" will take you back to the previous page to give you more time to conduct your research.</p>
            <p class="center">
                <button class="closeBtn">I Need More Time</button>
                <button id="completeBtn">Ready to Go!</button>
            </p>
        </div>
    </div>
{% endblock %}

{% block modal_content %}
    <p>Robyn’s Research:</p>
    <ul>
        <li>Articles about an increasingly younger population living in Milwaukee.</li>
        <li>Articles about redeveloped and revitalized downtown with more housing.</li>
        <li>Articles reporting about how local news perceives Robyn’s company.</li>
        <li>Articles related to Milwaukee travel:  local economy contracting, number and frequency of flights are being cut from Milwaukee airport.</li>
    </ul>

    <p>Robyn’s answers:</p>
    <ul>
        <li>3. A lot more questions: She likes the news about a younger population and revitalized  downtown. She worries about news of a slowing economy and the prospect of a lot of travel from a place without substantial direct flights.</li>
        <li>5. Robyn found some good sources: Local employees, the Milwaukee TimeOut contact for social life and she identified a local travel agent to better understand travel issues.</li>
    </ul>
{% endblock %}

{% block pause_content %}
    <p>You'll want to learn from other perspectives about your Decision Target for our next page.</p>
    <p>Clicking "I need more time" will take you back to the previous page to give you more time to conduct your research.</p>
{% endblock %}

{% block content_body %}
    <p>Now you’ve examined your Decision Target and its competition/ecosystem. Next up: A broad Internet search.</p>
    <p>Pause the module here. Search for news and information about your Decision Target to learn from other perspectives.</p>

    <div style="text-align: center;">
        <img src="{% static 'decisions/img/backpocket/panda-research.gif' %}" height="250px"/>
    </div>
{% endblock %}


{% block next_btn %}
    <div class="center start">
        <button id="next" type="button"><a href="#" onclick="return countdown()">Start the Pause Now!</a></button>
    </div>

    <div style="display: none; background: rgba(54, 25, 25, .8); height: 100%; width: 100%; position: fixed; top: 0; left: 0; float: right; z-index: 99; text-align: center; padding-top: 20%"
         id="timer">
        <div style="font-size: 256px; color: #f6653c" id="time">3</div>
    </div>
{% endblock %}