{% extends 'modules/cheetah/backpocket.html' %}
{% load module_tags static %}

{% block title %}
    {% define 'pageTitle' "Relative: Map vs Terrain" %}
    {{ block.super }}
{% endblock %}
{% block content %}
    {% define 'checkboxName' 'at5' %}
    {% define 'nextBtnLabel' 'Articles Analyzed!' %}
    {{ block.super }}
{% endblock %}
{% block progress_bar %}
    {% define 'progressBarTemplate' 'module3/progress_bar/r.html' %}
    {{ block.super }}
{% endblock %}

{% block modal_content %}
    <p>Robyn's Research:</p>
    <ul>
        <li>Articles about an increasingly younger population living in Milwaukee</li>
        <li>Articles about redeveloped and revitalized downtown with more housing</li>
        <li>Articles reporting about how local news perceives Robyn’s company</li>
        <li>Articles related to Milwaukee travel:  local economy contracting, number and frequency of flights are being cut from Milwaukee airport</li>
    </ul>

    <p>Robyn's answers:</p>
    <ul>
        <li>3. A lot more questions:she likes the news about a younger population and revitalized  downtown but worries about news of slowing economy and the prospect of a lot of travel from a place without substantial direct flights.</li>
        <li>5. Robyn found some good sources: Local employees, the Milwaukee TimeOut contact for social life a local travel agent to better understand travel issues.</li>
    </ul>
{% endblock %}

{% block content_body %}
    {% include 'module3/cheetah5/form.html' %}
{% endblock %}