{% extends 'decisions/base.html' %}
{% load bootstrap %}
{% load module_tags %}
{% block title %}{% block h1 %}What is AREA?
{% endblock %}{% endblock %}
{% block content %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>

    {% include 'module3/progress_bar/id.html' %}
    <h2 class="center">What is AREA?</h2>

    <p>AREA is an acronym for a decision-making system that uniquely controls for and counteracts bias, focuses on
        the incentives of others and expands knowledge while improving judgment.</p>

    <p>On the top of each of the pages, you’ll see a progress bar similar to the image above.
        This will help us keep track of your progress and help you on your decision journey.
        We'll start by teasing out your “id” and identifying unconscious bias.</p>

    {% get_next_btn module "I'm Ready!" nav.nextUrl %}
    {% get_back_link module nav.previousUrl %}
{% endblock %}
