{% extends 'modules/base/simple.html' %}
{% load module_tags static %}

{% block title %}
    {% define 'pageTitle' 'Backpocket AREA' %}
    {% define 'nextBtnLabel' "Get Started" %}
    {{ block.super }}
{% endblock %}

{% block content_body %}
    <div class="center" xmlns="http://www.w3.org/1999/html">
        <h1 class="pre_title">
            Make Your Big Decisions
        </h1>
        <h1 class="module_title">
            <div>
                <span class="green">B</span>
                <span class="yellow">E</span>
                <span class="light-blue">T</span>
                <span class="red">T</span>
                <span class="yellow">E</span>
                <span class="light-blue">R</span>
            </div>
        </h1>
    </div>

    <p>This module will guide you through the AREA Method.</p>
    <p>Complete the steps and we will analyze your work and thinking to help you make your big decisions better!</p>

    <div class="center" xmlns="http://www.w3.org/1999/html">
        <img src="{% static 'decisions/img/backpocket/captain_hook.png' %}" width="450px"/>
        <p style="margin-top: -50px; padding-bottom: 10px; font-weight: bold; font-size: 0.9em;">
            <em>"OK, Mr. Hook. Seems you're trying to decide between a career in pirating or massage theraphy. Well, maybe we can help you narrow it down."</em>
        </p>
    </div>

{% endblock %}