{% extends 'modules/base/backpocket.html' %}
{% load module_tags static %}

{% block title %}
    {% define 'checkboxName' 'success_terms' %}
    {% define 'pageTitle' "Success terms" %}
    {% define 'nextBtnLabel' "Terms Defined!" %}
    {% define 'progressBarTemplate' 'module3/progress_bar/dd.html' %}
    {{ block.super }}
{% endblock %}

{% block modal_content %}
    <p>Robyn's success terms:</p>
    <ul>
        <li>That I didn't rush to judgement</li>
        <li>That I have a clear direction</li>
        <li>That I am knowledgeable about next steps</li>
        <li>That I chose the right option for me</li>
    </ul>
{% endblock %}

{% block content_header %}
    <p>The quiz helped you check in with your gut feelings about your decision. Now lets define your Decision
        Dilemma:</p>
{% endblock %}

{% block content_body %}
    <p>What are you solving for?</p>
    <p style="border-bottom: 1px solid black;"><strong>{{ module.dd_as_question }}</strong></p>
    <p>Picture that you’ve already made the decision and its successful. How do you feel?</p>

    <h3>Select all the success phrases that apply. I want to feel:</h3>
    <div id="why_options">
        {% for value in module.get_success_terms %}
            <div>
                <label>
                    {% if value.answer in success_terms %}
                    <input type="checkbox" name="success_terms[]" value="{{ value.answer }}" checked="checked"/>
                    <span>{{ value.success_term }}</span>
                    <span class="explanation" style="display: block; visibility: visible;">{{ value.answer }}</span>
                    {% else %}
                    <input type="checkbox" name="success_terms[]" value="{{ value.answer }}"/>
                    <span>{{ value.success_term }}</span>
                    <span class="explanation">{{ value.answer }}</span>
                    {% endif %}
                </label>
            </div>
        {% endfor %}
    </div>
{% endblock %}