<h3>What did you learn from reading the Target's website? Check all that apply.</h3>
{% if mode == 'print' %}
    <ul>
        {% for item in at_numbers %}
            {% if item.key in at3 %}
                <li><span style="border-bottom: 1px solid black;">{{ item.label }}</li>
            {% endif %}
        {% endfor %}
    </ul>
{% else %}
    <div id="why_options">
        {% for item in at_numbers %}
            <div>
                <label>
                    {% if item.key in at3 %}
                    <input type="checkbox" name="at3[]" value="{{ item.key }}" checked="checked"/>
                    <span>{{ item.label }}</span>
                    <span class="explanation" style="display: block; visibility: visible;">{{ item.answer }}</span>
                    {% else %}
                    <input type="checkbox" name="at3[]" value="{{ item.key }}"/>
                    <span>{{ item.label }}</span>
                    <span class="explanation">{{ item.answer }}</span>
                    {% endif %}
                </label>
            </div>
        {% endfor %}
    </div>
{% endif %}

<h3>What about the website information was <strong>MOST</strong> useful?</h3>
<textarea name="at3_most" class="auto-text-area">{{ at3_most }}</textarea>

<h3>What website information was <strong>LEAST</strong> useful to solving your problem? </h3>
<textarea name="at3_least" class="auto-text-area">{{ at3_least }}</textarea>
