{% extends 'modules/cheetah/backpocket.html' %}
{% load module_tags static %}

{% block content %}
    {% define 'checkboxName' 'great_questions' %}
    {% define 'nextBtnLabel' 'Start the Pause Now' %}
    {% define 'showTimer' 'true' %}
    {{ block.super }}
{% endblock %}
{% block progress_bar %}
    {% define 'progressBarTemplate' 'module3/progress_bar/a1.html' %}
    {{ block.super }}
{% endblock %}

{% block modal_content %}
    <p>Robyn's answers:</p>
    <p>She searched her company’s website and found:</p>
    <ul>
        <li>The Midwest region page of her company lists products made locally and the office address. </li>
        <li>Midwest site more focused on tourism, listing local events, than sales related information. There is a disconnect. Why isn’t the Midwest page geared toward promoting sales?</li>
    </ul>

    <p>Analysis of what Robyn found from her website search:</p>
    <ul>
        <li>Why is the Midwest page filled with tourism information?</li>
        <li>Does this mean that a new VP might want to revamp the office and its messages on sales?</li>
    </ul>
{% endblock %}

{% block extra_modal_instructions %}
    <p>You'll want your numbers for our next page.</p>
{% endblock %}

{% block content_body %}
    <p>Now compare the numerical data with how the Target describes itself and its value on its website and materials. Is there a disconnect?</p>
    <p>Get ready for more research. Pause the module and go search your Target’s website. How does it explain its value and does that shed light on your Decision Problem? If it conflicts with the numerical data you found: why?</p>
    <p>Go to the Internet and search your Target’s website(s) for information relevant to your decision. Take as much time as you need to find useful data.</p>

    <div style="text-align: center;">
        <img src="{% static 'decisions/img/backpocket/girl-magnify.gif' %}" height="250px"/>
    </div>
{% endblock %}