{% extends 'modules/cheetah/backpocket.html' %}
{% load module_tags static %}

{% block content %}
    {% define 'checkboxName' 'at4' %}
    {% define 'nextBtnLabel' 'Terrain Mapped!' %}
    {{ block.super }}
{% endblock %}
{% block progress_bar %}
    {% define 'progressBarTemplate' 'module3/progress_bar/a1.html' %}
    {{ block.super }}
{% endblock %}

{% block modal_content %}
    <p>Robyn's answers</p>
    <ul>
        <li>2.  I don’t understand how the Target perceives its value</li>
    </ul>

    <p>Most useful was realizing that it needs to be customer focused.</p>
    <p>Least useful: A section dedicated to local events and attractions that don’t have to do with the company.</p>
{% endblock %}

{% block content_body %}
    <p>Answer the questions below:</p>
    {% include 'module3/cheetah3/form.html' %}
{% endblock %}